h1 {
  font-size: 15px;
  font-weight: 600;
}

.reminder-box {
  background-color: #eaf4ff;
  border: 1px solid #c6e0ff;
  border-radius: 12px;
  padding: 12px 16px;
  display: flex;
  align-items: flex-start;
  position: relative;
  margin-top: 16px;
  font-family: sans-serif;
}

.reminder-icon {
  font-size: 18px;
  margin-right: 12px;
  margin-top: 2px;
}

.icon-small{
  padding: 0px 3px 0px 0px;
}

.reminder-content p {
  margin: 4px 0 0 0;
  font-size: 14px;
  color: #333;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 4px;
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #666;
}