@import 'c/cssLibrary';

/*
.slds-modal__footer-custom {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1000;
    margin-bottom: 2rem;
    background-color: rgb(236, 236, 236) !important;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(192, 192, 192);
}
*/

.slds-utility-bar {
    display:none;
}