@import 'c/cssLibrary';

.title {
    font-size: 16px;
}

.reintegros-container{
    height:12rem;
}

.reintegros-item{
    padding-right:10px;
}

.text-primary {
    font-size: 14px;
}

.text-secondary {
    font-size: 12px;
}

.float-right{
    float:right !important;
}

.text-green{
    color:#16A366;
}

.text-gray{
    color: #6C6C78;
}

.card-body{
    width: 100%;
}