.section-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-line{
    height: 4px;
    width:30%;
    background-color: #ddd;
}

.header-title p{
    text-transform: uppercase;
    font-weight: 500;
    color: #ddd;
    padding-bottom: .6rem;
}

.incorrect-sla .actual-sla, .incorrect-sla .support-message{
    color:rgb(255, 47, 47);
}

.correct-sla .actual-sla, .correct-sla .support-message{
    color:#196944;
}

.hurry-sla .actual-sla, .hurry-sla .support-message{
    color:#b09429;
}

.correct-sla .status-circle{
    background-color: #196944;
}

.incorrect-sla .status-circle{
    background-color: #ff2f2f;
}

.hurry-sla .status-circle{
    background-color: #b09429;
}

.sla-content-container{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.sla-status{
    display: flex;
    align-items: center;
    font-weight: 500;
    width: fit-content;
    background: #e8e8e8;
    padding: .4rem .9rem .4rem .6rem;
    border-radius: 0px 5px 5px 0px;
    margin-top: .3rem;
}

.actual-sla{
    font-size: 1.4rem;
    font-weight: 500;
}

.expected-sla{
    font-size: 1.2rem;
    font-weight: 500;
}

.state-detail{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card-content-container{
    width: 100%;
    color:var(--slds-g-color-neutral-base-20);
}

.status-circle{
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    margin-right: 0.6rem;
}



/* 
circle
*/

.circle-container {
    position: relative;
    text-align: center;
  }
  
  .circle {
    transform: rotate(-90deg); /* Para que empiece desde arriba */
  }
  
  .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 10;
  }
  
  .circle-progress {
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-dasharray: 251.33;
    transition: stroke-dashoffset 1s;
  }

  .circle-content{
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    border-left: 5px solid #ddd;
  }

  .circle-content h2{
    font-size: 1.4rem;
    font-weight: 500;
  }
  
  .percentage {
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
  }