h1 {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

h2 {
    font-size: 19px;
    font-weight: 700;
}

h3 {
    font-size: 10px;
	max-width: 80%;
    font-weight: 400;
    text-align: left;
}

div {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.wrapper{
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

.wrapper-wait-screen{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(80vh - 100px);
}

.indicador-wrapper{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.info-card-container{
	display: flex;
	flex-direction: row;
	background-color: #ffffff;
	min-width: 23.3rem;
	min-height: 8rem;
	border-radius: 1.5rem;
	padding: 1.5rem;
	gap: 1.5rem;
    box-shadow: 0px 4px 24px -2px #27272A14;
}

.alert-card-container {
    display: flex;
    flex-direction: column;
	color: #ffffff;
    min-width: 25rem;
    min-height: 8rem;
    border-radius: 1.5rem;
    padding: 2.5rem;
    gap: 1.5rem;
    animation: alternate-colors 2s steps(1) infinite;
    box-shadow: 0px 4px 24px -2px #27272A14;
}

.button-tertiary{
    font-size: 16px;
    border: transparent;
    background-color: transparent;
    text-decoration: underline;
}
.button-tertiary::part(button) {
    text-decoration: underline;
}

.icon-medium{
    max-width: 18rem;
    max-height: 8rem;
}

@keyframes alternate-colors {
    0% {
        background-color: #16A366;
    }
    50% {
        background-color: #0B6BD9;
    }
    100% {
        background-color: #16A366;
    }
}

@media (min-width: 480px){
    .button-tertiary{
        font-size: 20px;
    }
}

@media (min-width: 1024px){
    .button-tertiary{
        font-size: 24px;
    }
}