.customer-avatar {
    width: 48px;
    height: 48px;
    background-color: #D9EBFF; 
    color: #1f4e79;           
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
    font-size: 1.5rem;
    font-weight: 600 !important;
    font-family: "Inter", sans-serif !important;
}

.customer-photo-avatar {
    height: 48px;
    width: 48px;
}