@import 'c/cssLibrary';

.card-style{
    background-color: white !important;
    padding: 10px;
    border: 1px solid #D8D8DE;
    border-radius: 12px;
}

.chart-container{
    float:left;

}

.test{
    vertical-align: middle;
}


.info-container{
    float:left;
    margin-left: 15px;
    margin-top: 5px;
}

.info-text{
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    text-align: left;

}

.info-text-warning{
    font-size: 14px;
    font-weight: 800;
    line-height: 24px;
    text-align: left;

}

.pill {
    display: inline-block;
    padding: 0.5em 0.5em;
    border-radius: 1.2em;
    color: white;
    text-align: center;
}
.info-pill {
    background-color: #D9EBFF;
    font-weight: 500;
    color:#004799;


    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: center;

}

.warning-pill {
    background-color: #D9EBFF;
    font-weight: 500;
    color:#000000;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: center;

}

.pill-text{
    padding-top:1px;
    float:right;
    margin-left:3px;
}

.star-icn{
    --slds-c-icon-color-foreground-default: #0059BF;
}

.level-points {
   font-size: 10px;
   font-weight: 400;
   line-height: 16px;
   letter-spacing: 0.03em;
   text-align: left;

}