.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    background: white;
    border-radius: 24px;
    padding: 24px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
    width: 90%;
    max-width: 400px;
}

.modal-content h2 {
    margin: 0 0 10px 0;
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
}

.modal-content p {
    margin: 0 0 20px 0;
    font-size: 1.2rem;
    color: #666;
}



.modal-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
	gap: 12px;
}

.btn-secondary {
	width: 50%;
    height: 40px;
    background-color: #ffffff;
    color: #333;
    border: solid #C6C6CC 1.8px;
    padding: 4px 10px;
    border-radius: 33px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



.btn-secondary:hover {
    background-color: #e0e0e0;
}

.btn-primary {
    height: 40px;
	width: 50%;
    background-color: #000;
    color: white;
    border: none;
    padding: 4px 10px;
    border-radius: 33px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



.btn-primary:hover {
    background-color: #333;
}

@media (min-width: 480px){

    .modal-content h2 {
        font-size: 2rem;
    }

    .modal-content p {
        font-size: 1.3rem;
    }

    .btn-secondary {
        height: 66px;
        font-size: 1.5rem;
        padding: 10px 20px;
    }

    .btn-primary {
        height: 66px;
        font-size: 1.5rem;
        padding: 10px 20px;
    }
}