/* Estilos generales */
.container {
    min-height: 100vh;
    background-color: #F0F0F0;
}

/* Estilos para el header */
.header {
    background-color: #FFFF; 
    padding: 4px;
    border-bottom: solid 2px #C9C9C9;
}

/* Estilos para el body */
.body {
    padding: 5vh 4vw 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 480px){
    .header {
        padding: 6px;
    }

    .body {
        padding: 6vh 6vw 2vh;
    }
}

@media (min-width: 1024px){
    .header {
        padding: 6px;
    }

    .body {
        padding: 8vh 8vw 2vh;
    }
}