.query-header{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.refund-card{
	text-align: center;
	font-weight: 500;
    font-size: 1rem;
    color: #3b3b3b;
}

.mess-to-client{
	margin: 2rem;
	background-color: #f7e4b06e;
	color: #7F6606;
	padding: 1rem;
}


.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.actions{
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
}

.receipt-container{
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.icon-container{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.state-title{
    margin:1rem;
}

.cashback-header{
    color: white;
    margin-bottom: 1rem;
}

.cashback-percentage{
    font-weight: 500;
    font-size: 1.4rem;
}

.result-amount{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px #00000030;
    width: 100%;
    background-color: white;
    align-items: center;
}

.result-amount-label{
    font-size: 1rem;
    font-weight: 500;
}

.result-amount-value{
    font-size: 1.4rem;
    font-weight: 500;
}

.receipt-detail{
    padding: 2rem;
    box-shadow: 1px 1px 5px 2px #00000030;
    border-radius: 15px;
    margin-top: 1rem;
}

.processed{
    background-color: rgba(43, 217, 142, 1);
}

.error{
    background-color: red;
}

.linked-refunds{
    background-color: rgb(237, 237, 237);
    padding: 1rem;
    width: 100%;
    border-radius: 10px;
	padding-bottom: .01rem;
}

.linked-refunds .refund-item-component{
    width: 100%;
    margin-bottom: 1rem;
}

/* .linked-refunds c-refund-item:last-child{
    margin-bottom: 0;
} */

.receipt-body-data{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.data-item-value{
    font-weight: 500;
    font-size: 1rem;
    color: #3b3b3b;
}

.message-error{
	font-weight: 500;
    font-size: 1rem;
    color: red;
}

.refund-data-item{
    text-align: center;
	font-weight: 500;
    font-size: 1rem;
}

.refund-data-title{
    text-align: center;
	font-weight: 500;
    font-size: 1rem;
	color: #3b3b3b;
}

.data-item-label{
    font-weight: 500;
    color: #707070;
}

.receipt-header{
    padding: 0 3rem;
}

.receipt-header .refund-data-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.add-to-case-container{
	text-align: center;
	width: 100%;
}

.message-rejection{
	text-align: center;
	width: 100%;
	font-size: 1rem;
	margin-top: 1rem;
}

.refund-amount{
	color: #16a366;
}



/* 
loader
*/

.load1 .loader,
.load1 .loader:after {
	border-radius: 50%;
	width: 8em;
	height: 8em;
}
.load1 .loader {
	margin: 0px auto;
	font-size: 10px;
	position: relative;
	text-indent: -9999em;
	border-top: 1.3em solid transparent;
	border-right: 1.3em solid transparent;
	border-bottom: 1.3em solid white;
	border-left: 1.3em solid white;

	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);

	-webkit-animation: load1 1s infinite ease;
	animation: load1 1s infinite ease;

	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes load1 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load1 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.load2 .loader,
.load2 .loader:before,
.load2 .loader:after {
	border-radius: 50%;
	width: 2.5em;
	height: 2.5em;

	-webkit-animation: load2 1.5s infinite ease-in-out;
	animation: load2 1.5s infinite ease-in-out;

	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.load2 .loader {
	color: var(--uw-spinner);
	font-size: 10px;
	margin: -4em 0em 0em 0em;
	position: relative;
	text-indent: -9999em;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
.load2 .loader:before,
.load2 .loader:after {
	content: '';
	position: absolute;
	top: 0;
}
.load2 .loader:before {
	left: -3.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.load2 .loader:after {
	left: 3.5em;
}
@-webkit-keyframes load2 {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em;
	}
	40% {
		box-shadow: 0 2.5em 0 0;
	}
}
@keyframes load2 {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em;
	}
	40% {
		box-shadow: 0 2.5em 0 0;
	}
}

.spinner {
	height: 12em;
	width: 12em;
	display: flex;
	align-items: center;
	justify-content: center;
    position: absolute;
}

button{
    position:relative;
}