.canvas-chart-cnt {
    overflow-x: auto; 
    overflow-y: auto; 
    white-space: nowrap; 
    max-height: 500px;
}

.service-presence-chart {
    width: 2700px;
    min-height:200px;
    height: 400px;
}