@import 'c/cssLibrary';

.card-title{
    padding-left: 10px;
    font-size: 15px;
    font-weight: bold;
}

.datatable-size{
    max-height: 400px;
    min-height: 200px;
}

.modal-datatable-size{
    max-height: 300px;
    min-height: 200px;
}

.slds-modal__container{
    max-width: 80rem !important;
    width:80% !important;
}

.search-client-component{

}

.search-client-component-container{
    padding: 1rem;
}

.common-modal-details-rowAcc {
    margin-top: 5px;
}

.search-client-component-header{
    padding: 1.2rem 0 1rem 0;
}

.search-client-component-header h2{
    font-size: 1.4rem;
    font-weight: 500;
}

.account-data-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: .6rem;
    padding: 1rem 0;
}

.data-item-label{
    color: #666;
}

.data-item-value{
    font-size: .88rem;
    font-weight: 500;
    color: #333;
}

.search-button{
    background-color: #2bd98e;
    color: white;
    border: none;
}

.secondary-button{
    color: #2bd98e;
    border: 1px solid #2bd98e;;
}

.actions{
    text-align: right;
    padding-top: 1rem;
}

.switch-button {
  --width: 120px;
  cursor: pointer;
  width: 120px;
  display: flex;
}

.note{
    padding: 1rem;
    background-color: rgba(255, 198, 42, 0.233);
    color: rgb(117, 96, 0);
}

.switch-button.right .button-container > div:before {
  -webkit-transform: translateX(var(--width));
  -ms-transform: translateX(var(--width));
  transform: translateX(var(--width));
}

.switch-button.right .button-container > div:first-child p {
  color: #333
}

.switch-button.right .button-container > div:last-child p {
  color: white;
}

.switch-button.disabled .button-container > div:first-child p {
  color: #333;
}

.switch-button.disabled .button-container > div:first-child:before {
  background-color: var(--primary_color_disabled);
}

.switch-button.disabled .button-container div p {
  color: #333;
}

.switch-button.disabled .button-container > div:first-child p {
  color: white;
}

.switch-button.disabled {
  cursor: unset;
}

.switch-button .button-container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 4px;
}

.switch-button .button-container div {
  width: 120px;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: relative;
  padding: 4px;
}

.switch-button .button-container div p {
  z-index: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.switch-button .button-container div:first-of-type:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: #2bd98e;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 5px;
}

.switch-button .button-container div:first-of-type > p {
  color: white;
}

.c-container {
   /* border: 1px solid #d8dde6; */
    margin: 10px 20px 20px 20px !important;;
    height: auto;
    overflow-x: auto;
    display: flex;
}
.scroll-wrapper {
    overflow-x: auto !important;;
    overflow-y: hidden;
    white-space: nowrap !important;;
    -webkit-overflow-scrolling: touch;
}

.custom-box {
    text-align: center;
    /*background-color: #f4f6f9;*/
    padding: 20px;
    border: 1px solid #C6C6CC;
    margin-right: 20px;
    width: 30%;
    border-radius: 15px;
    flex: 0 0 auto;
    cursor: pointer;
    margin-bottom: 10px;
}

.custom-box-active {
    border: 2px solid #252529; 
}

.faded-line {
    border: none;
    border-top: 1px solid #e0e0e0;
    margin: 10px 0;
}

.title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.account-title {
    margin: 0;
    color:#252529;
    font-size: 16px;
}

.container-details{
    display: flex;
    align-items: baseline;
    margin: 0;
    flex-direction: column;
}