/* Estilos generales */
.container {
    min-height: 100vh;
    background-color: #F0F0F0;
}

/* Estilos para el header */
.header {
    background-color: #FFFF; /* Fondo oscuro */
    padding: 6px;
    border-bottom: solid 2px #C9C9C9;
}

.header h1 {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
}

/* Estilos para el body (área de contenido) */
.body {
    padding: 8vh 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}