.card-content-container{
    width: 100%;
    color:var(--slds-g-color-neutral-base-20);
    display: flex;
    flex-direction: column;
}

.sla-card-header h1{
    font-weight: 500;
    font-size: 1.4rem;
    padding: 0 0 1.2rem 0;
    color:var(--slds-g-color-neutral-base-20);
}

.status-sla{
    margin-bottom: 1.4rem;
}