.slds-listbox{
    z-index: 1000;
    position: absolute;
    max-height: 200px;
    overflow-y: auto;
    border: 1 px solid #d8dde6;
    border-radius: 0.25rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);

}

.slds-listbox__item{
    cursor: pointer;
    padding: 0.5rem;
}
.slds-listbox__item:hover{
    background-color: #f4f6f9;
}

.style-custom-no-top{
    margin-top: 0 !important;
}

.style-custom{
    margin-top: 0 !important;
    border-right-width: 50px;
}


.custom-container {
    width: 100%;
    max-width: 50rem;
    padding: 1rem;
    background: #ffffff;
    border: 1px solid #d8dde6;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.case-container {
    width: 100%;
    max-width: 100%;
    padding: 0.25rem;
    background: #ffffff;
}

.card-divider {
    height: 1px;
    background-color: #d8dde6;
    margin: 0.5rem 0;
}

.changeowner-box {
    padding-top: 0.5rem;
    margin-top: 1rem;
    margin-left: 15px; 
    margin-right: 15px; 
    padding-right: 25px;
    background-color: rgba(243,243,243,0.7);
    gap:0.5rem;
}