.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.loader {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap:1rem;
    z-index: 1000;
    display: flex;
    flex-direction: row;
}

.loader {
    display: flex;
    gap: 0.3rem;
}

.loader div {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #000000;
    animation: loader 1.5s ease-in-out infinite;
    animation-fill-mode: both;
}

.loader div:nth-child(1) {
    animation-delay: 0s;
}

.loader div:nth-child(2) {
    animation-delay: 0.3s;
}

.loader div:nth-child(3) {
    animation-delay: 0.6s;
}

.loader div:nth-child(4) {
    animation-delay: 0.9s;
}

.loader div:nth-child(5) {
    animation-delay: 1.2s;
}

@keyframes loader {
    0%, 100% {
        opacity: 0.1;
        transform: scale(0.8);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
}

@media (min-width: 480px){
    .loader {
        display: flex;
        gap: 0.4rem;
    }
    
    .loader div {
        width: 1.5rem;
        height: 1.5rem;
    }
}

@media (min-width: 1024px){
    .loader {
        display: flex;
        gap: 0.5rem;
    }
    
    .loader div {
        width: 2rem;
        height: 2rem;
    }

}